<section class="termos-politica bg-dark">
    <p class="mt-2">
        Utilizamos cookies para fornecer uma melhor experiência para nossos usuários. Para saber mais sobre o uso de cookies, 
        <br>consulte nossa <a href="#" class="text-info" target="_blank">política de privacidade</a>. 
        Ao continuar navegando em nosso site, você concorda com a nossa política.
    </p>
    <div class="mx-4">
        <button class="btn btn-outline-light" (click)="setAllPermissions()">Aceitar</button>
        <!-- <a class="btn btn-outline-light mx-2">Configurações</a> -->
    </div>
</section>